[data-aos="fade-up-sm"] {
  transform: translate3d(0, 50px, 0);
}

.init-delay {
  transition-delay: 0ms;
}
@screen sm {
  .init-delay {transition-delay: var(--sm-delay)}
}
@screen md {
  .init-delay {transition-delay: var(--md-delay)}
}
@screen lg {
  .init-delay {transition-delay: var(--lg-delay);}
}

/* has-twoColumns project */
@media screen and (max-width: 1023px) {
  .has-twoColumns {
    height: 100% !important;
  }
}

/* form autofill reset */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/* prose/typography */
.content > *:first-child {
  @apply mt-0;
}
.content > *:last-child {
  @apply mb-0;
}
.content {
  @apply prose max-w-none;
  @apply prose-headings:mt-8 prose-headings:mb-4 prose-headings:font-normal;
  @apply prose-p:my-3;
  @apply prose-a:underline hover:prose-a:no-underline;
  @apply prose-pre:p-6 prose-pre:rounded-lg;
  @apply prose-strong:font-medium;
  @apply prose-blockquote:my-8 prose-blockquote:text-2xl prose-blockquote:leading-normal prose-blockquote:font-light prose-blockquote:border-2 prose-blockquote:p-8 prose-blockquote:rounded-lg prose-blockquote:border-l-8;
  @apply prose-img:rounded-lg;
}

.content blockquote > p {
  @apply not-italic after:hidden before:hidden my-0;
}
.content blockquote cite {
  @apply block text-lg mt-4 not-italic text-white/50;
}

.content-light {
  @apply prose-invert;
  @apply prose-a:text-white;
  @apply prose-blockquote:border-light/40 prose-blockquote:text-white;
  @apply prose-tr:border-light/10;
}
.content-light blockquote cite {
  @apply text-white/50;
}

.content-dark {
  @apply text-dark/75;
  @apply prose-a:text-black prose-headings:text-black;
  @apply prose-blockquote:border-light/40 prose-blockquote:text-dark;
  @apply prose-tr:border-light/10;
}
.content-dark blockquote cite {
  @apply text-black/50;
}

.image {
  @apply mt-8;
}
.image p {
  @apply m-0 leading-none;
}
.image img {
  @apply mt-0;
}